## Applications using mongodb,create database,insert,update,query and aggregate functions

In [18]:
import pymongo

In [25]:
import pymongo
from pymongo import MongoClient
from bson.objectid import ObjectId

# Connect to MongoDB server
client = MongoClient('localhost', 27017)

# Create or switch to the database
db = client.myNewDatabase

# Create or switch to the collection
collection = db.myCollection

In [ ]:


# Create: Insert a document

document_id = collection.insertOne({
    "name": "Alice",
    "age": 25,
    "city": "New York"
})
#document_id=collection.insertOne(record)
print(f"Inserted document ID: {document_id}")

# Read: Find a document
document = collection.find_one({"name": "Alice"})
print(f"Found document: {document}")

# Read: Find all documents
all_documents = collection.find()
print("All documents:")
for doc in all_documents:
    print(doc)

# Update: Update a document
update_result = collection.update_one(
    {"name": "Alice"},
    {"$set": {"age": 26}}
)
print(f"Matched {update_result.matched_count} documents and modified {update_result.modified_count} documents.")

# Delete: Delete a document
delete_result = collection.delete_one({"name": "Alice"})
print(f"Deleted {delete_result.deleted_count} document(s).")

# Check server status
server_status = client.admin.command("serverStatus")
print("Server status:")
print(server_status)

In [33]:
print(db)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'myNewDatabase')

In [34]:
print(collection)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'myNewDatabase'), 'myCollection')

In [35]:
print(db.Collection.find())

<pymongo.cursor.Cursor object at 0x10717e9d0>

In [36]:
#create a new database employee
db = client.Employee

In [39]:
employeeinfo=db.employeeinformation

In [40]:
#insert one record
record={
    "empid":11,
    "name":"gayatri",
    "salary":2000,
    "department":"analytics"
}
employeeinfo.insert_one(record)

InsertOneResult(ObjectId('6685917bca931d78fdff33b9'), acknowledged=True)

In [47]:
#insert many records
records=[
{
    "empid":13,
    "name":"Avni",
    "salary":2000,
    "department":"math"
},
{
    "empid":15,
    "name":"Srihaan",
    "salary":2000,
    "department":"chaplusi"
},
{
    "empid":17,
    "name":"funny",
    "salary":2000,
    "department":"dumb"
}
]
employeeinfo.insert_many(records)

InsertManyResult([ObjectId('668593e4ca931d78fdff33bc'), ObjectId('668593e4ca931d78fdff33bd'), ObjectId('668593e4ca931d78fdff33be')], acknowledged=True)

In [86]:
records=[
{
    "empid":12,
    "name":"Avni",
    "salary":2000,
    "department":"reading",
    "score":80
},
{
    "empid":15,
    "name":"Srihaan",
    "salary":3000,
    "department":"math",
    "score":70
},
{
    "empid":17,
    "name":"funny",
    "salary":2500,
    "department":"math",
    "score":100
}
]
employeeinfo.insert_many(records)

InsertManyResult([ObjectId('6685e830ca931d78fdff33c4'), ObjectId('6685e830ca931d78fdff33c5'), ObjectId('6685e830ca931d78fdff33c6')], acknowledged=True)

In [87]:
#display all the records
print(f"records of employee:{records}")

records of employee:[{'empid': 12, 'name': 'Avni', 'salary': 2000, 'department': 'reading', 'score': 80, '_id': ObjectId('6685e830ca931d78fdff33c4')}, {'empid': 15, 'name': 'Srihaan', 'salary': 3000, 'department': 'math', 'score': 70, '_id': ObjectId('6685e830ca931d78fdff33c5')}, {'empid': 17, 'name': 'funny', 'salary': 2500, 'department': 'math', 'score': 100, '_id': ObjectId('6685e830ca931d78fdff33c6')}]

In [88]:
employeeinfo.find_one()
#retrive one record

{'_id': ObjectId('6685917bca931d78fdff33b9'),
 'empid': 11,
 'name': 'gayatri',
 'salary': 2000,
 'department': 'analytics'}

In [89]:
# select * from employeeinfo equivalent to
for record in employeeinfo.find({}):
    print(record)

{'_id': ObjectId('6685917bca931d78fdff33b9'), 'empid': 11, 'name': 'gayatri', 'salary': 2000, 'department': 'analytics'}
{'_id': ObjectId('668591edca931d78fdff33ba'), 'empid': 12, 'name': 'sripati', 'salary': 5000, 'department': 'statistics'}
{'_id': ObjectId('668593e4ca931d78fdff33bc'), 'empid': 13, 'name': 'Avni', 'salary': 2000, 'department': 'math'}
{'_id': ObjectId('668593e4ca931d78fdff33bd'), 'empid': 15, 'name': 'Srihaan', 'salary': 2000, 'department': 'chaplusi'}
{'_id': ObjectId('668593e4ca931d78fdff33be'), 'empid': 17, 'name': 'funny', 'salary': 2000, 'department': 'dumb'}
{'_id': ObjectId('6685e830ca931d78fdff33c4'), 'empid': 12, 'name': 'Avni', 'salary': 2000, 'department': 'reading', 'score': 80}
{'_id': ObjectId('6685e830ca931d78fdff33c5'), 'empid': 15, 'name': 'Srihaan', 'salary': 3000, 'department': 'math', 'score': 70}
{'_id': ObjectId('6685e830ca931d78fdff33c6'), 'empid': 17, 'name': 'funny', 'salary': 2500, 'department': 'math', 'score': 100}

In [90]:
#query the info according to its equality condition
#selet * from employeeifo where first nmae=gayatri
for record in employeeinfo.find({"name":"gayatri"}):
    print(record)

{'_id': ObjectId('6685917bca931d78fdff33b9'), 'empid': 11, 'name': 'gayatri', 'salary': 2000, 'department': 'analytics'}

In [91]:
#query document using operator($gt,$lt,$in)
for record in employeeinfo.find({"department":{"$in":["analytics","math"]}}):
    print(record)

{'_id': ObjectId('6685917bca931d78fdff33b9'), 'empid': 11, 'name': 'gayatri', 'salary': 2000, 'department': 'analytics'}
{'_id': ObjectId('668593e4ca931d78fdff33bc'), 'empid': 13, 'name': 'Avni', 'salary': 2000, 'department': 'math'}
{'_id': ObjectId('6685e830ca931d78fdff33c5'), 'empid': 15, 'name': 'Srihaan', 'salary': 3000, 'department': 'math', 'score': 70}
{'_id': ObjectId('6685e830ca931d78fdff33c6'), 'empid': 17, 'name': 'funny', 'salary': 2500, 'department': 'math', 'score': 100}

In [92]:
#and and query operator
for record in employeeinfo.find({"salary":{"$lt":3000}}):
    print(record)

{'_id': ObjectId('6685917bca931d78fdff33b9'), 'empid': 11, 'name': 'gayatri', 'salary': 2000, 'department': 'analytics'}
{'_id': ObjectId('668593e4ca931d78fdff33bc'), 'empid': 13, 'name': 'Avni', 'salary': 2000, 'department': 'math'}
{'_id': ObjectId('668593e4ca931d78fdff33bd'), 'empid': 15, 'name': 'Srihaan', 'salary': 2000, 'department': 'chaplusi'}
{'_id': ObjectId('668593e4ca931d78fdff33be'), 'empid': 17, 'name': 'funny', 'salary': 2000, 'department': 'dumb'}
{'_id': ObjectId('6685e830ca931d78fdff33c4'), 'empid': 12, 'name': 'Avni', 'salary': 2000, 'department': 'reading', 'score': 80}
{'_id': ObjectId('6685e830ca931d78fdff33c6'), 'empid': 17, 'name': 'funny', 'salary': 2500, 'department': 'math', 'score': 100}

In [93]:
#or operator with query
for record in employeeinfo.find({"$or":[{"name":"Avni"},{"salary":{"$lt":3000}}]}):
    print(record)

{'_id': ObjectId('6685917bca931d78fdff33b9'), 'empid': 11, 'name': 'gayatri', 'salary': 2000, 'department': 'analytics'}
{'_id': ObjectId('668593e4ca931d78fdff33bc'), 'empid': 13, 'name': 'Avni', 'salary': 2000, 'department': 'math'}
{'_id': ObjectId('668593e4ca931d78fdff33bd'), 'empid': 15, 'name': 'Srihaan', 'salary': 2000, 'department': 'chaplusi'}
{'_id': ObjectId('668593e4ca931d78fdff33be'), 'empid': 17, 'name': 'funny', 'salary': 2000, 'department': 'dumb'}
{'_id': ObjectId('6685e830ca931d78fdff33c4'), 'empid': 12, 'name': 'Avni', 'salary': 2000, 'department': 'reading', 'score': 80}
{'_id': ObjectId('6685e830ca931d78fdff33c6'), 'empid': 17, 'name': 'funny', 'salary': 2500, 'department': 'math', 'score': 100}

In [94]:
#and operator with query
for record in employeeinfo.find({"$and":[{"department":"math"},{"salary":{"$lt":3000}}]}):
    print(record)

{'_id': ObjectId('668593e4ca931d78fdff33bc'), 'empid': 13, 'name': 'Avni', 'salary': 2000, 'department': 'math'}
{'_id': ObjectId('6685e830ca931d78fdff33c6'), 'empid': 17, 'name': 'funny', 'salary': 2500, 'department': 'math', 'score': 100}

In [ ]:
#use aggregate function t find sum,average,groupby

In [95]:
### Find Amit And Krish Total Subjects
agg_result= employeeinfo.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$name",  
         "Total Subject" : {"$sum" : 1} 
         }} 
    ])

In [96]:
for i in agg_result: 
    print(i)

{'_id': 'funny', 'Total Subject': 2}
{'_id': 'gayatri', 'Total Subject': 1}
{'_id': 'Avni', 'Total Subject': 2}
{'_id': 'Srihaan', 'Total Subject': 2}
{'_id': 'sripati', 'Total Subject': 1}

In [101]:
### Calculating the total score based on user
agg_result= employeeinfo.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$name",  
         "Total salary" : {"$sum" :"$salary"} 
         }} 
    ]) 
for i in agg_result: 
    print(i)

{'_id': 'funny', 'Total salary': 4500}
{'_id': 'gayatri', 'Total salary': 2000}
{'_id': 'Avni', 'Total salary': 4000}
{'_id': 'Srihaan', 'Total salary': 5000}
{'_id': 'sripati', 'Total salary': 5000}

In [103]:
### Calculating the average salary based on user
agg_result=employeeinfo.aggregate([
   {
      "$group": {
         "_id": '$name',
         "EmployeeScoreAverage": {
            "$avg": "$salary"
         }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'funny', 'EmployeeScoreAverage': 2250.0}
{'_id': 'gayatri', 'EmployeeScoreAverage': 2000.0}
{'_id': 'Avni', 'EmployeeScoreAverage': 2000.0}
{'_id': 'Srihaan', 'EmployeeScoreAverage': 2500.0}
{'_id': 'sripati', 'EmployeeScoreAverage': 5000.0}

In [68]:
#nested jason format
inventory=mydb.inventory
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [69]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('66859d43ca931d78fdff33bf'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

In [77]:
#update item=pastcard ,change the size value,status and added the lastmodified time
inventory.update_one({'item':'postcard'},
                    {'$set':{'size.uom':'m','status':'X'},
                    '$currentDate':{'lastModified':True}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [79]:
#update_many,change the record so that it chnaged number of record
inventory.update_many(
    {'qty':{'$lt':80}},
    {'$set':{'size.w':22,'status':'Z'},
    '$currentDate':{'lastModified':True}}
)

UpdateResult({'n': 4, 'nModified': 4, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [83]:
#use replace_one to change some item and replace with the specifed change
inventory.replace_one(
    {'item':'planner'},
    {'item':'planner',
     'instock':[
        {'warehouse':'A','quality':'good'},
        {'warehouse':'B','quality':'exceptional'}
    ]}
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [85]:
#show all the records of inventory
for record  in inventory.find({}):
    print(record)

{'_id': ObjectId('66859d43ca931d78fdff33bf'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 22, 'uom': 'cm'}, 'status': 'Z', 'lastModified': datetime.datetime(2024, 7, 3, 23, 27, 54, 635000)}
{'_id': ObjectId('66859d43ca931d78fdff33c0'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 22, 'uom': 'in'}, 'status': 'Z', 'lastModified': datetime.datetime(2024, 7, 3, 23, 27, 54, 643000)}
{'_id': ObjectId('66859d43ca931d78fdff33c1'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('66859d43ca931d78fdff33c2'), 'item': 'planner', 'instock': [{'warehouse': 'A', 'quality': 'good'}, {'warehouse': 'B', 'quality': 'exceptional'}]}
{'_id': ObjectId('66859d43ca931d78fdff33c3'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 22, 'uom': 'm'}, 'status': 'Z', 'lastModified': datetime.datetime(2024, 7, 3, 23, 27, 54, 643000)}

In [104]:
import datetime as datetime

In [105]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [106]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2024, 7, 4, 0, 24, 45, 135436)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2024, 7, 4, 0, 24, 45, 135440)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2024, 7, 4, 0, 24, 45, 135441)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2024, 7, 4, 0, 24, 45, 135441)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2024, 7, 4, 0, 24, 45, 135442)}]

In [108]:
mycollection=mydb['stores']  
mycollection.insert_many(data)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

In [109]:
### Calculating the average quantity And Average Price
#total price=quantityxprice,then find average
agg_result=mycollection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}
{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}

In [110]:
#### $Project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 7
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 3
}
]

In [111]:
data

[{'_id': 1,
  'title': 'abc123',
  'isbn': '0001122223334',
  'author': {'last': 'zzz', 'first': 'aaa'},
  'copies': 7},
 {'_id': 2,
  'title': 'Baked Goods',
  'isbn': '9999999999999',
  'author': {'last': 'xyz', 'first': 'abc', 'middle': ''},
  'copies': 3}]

In [112]:
# Access collection of the database  
collection=mydb['Books']

In [113]:
collection.insert_many(data)

InsertManyResult([1, 2], acknowledged=True)

In [114]:
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}